---

pagination:
    data: contentful-page
    size: 1
    alias: page

layout: layout.liquid

---
<script>console.log({{page|json}});</script>
<header class="header orange">
  <a href="{{'/' | url}}">
    <img src="https:{{page.imageHeader.fields.file.url}}"
        alt="Hodgepodge Creatives Logo">
  </a>
</header>
<main>
  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-header">
        <span>Get Better</span>
        <span class="typewrite" data-period="750"
          data-type='{{page.changingCopyHero}}'>
          <span class="wrap">&nbsp;</span>
        </span>
        <span>With Hodgepodge.</span>
      </h1>
      <a href="#contact" class="cta pink">Get Started</a>
    </div>
    
    <video preload="auto" autoplay loop muted>
      {%- for video in page.headerVideos -%}
        <source src="{{video.fields.file.url}}" type="{{video.fields.file.contentType}}">
      {% endfor %}
        Sorry, your browser doesn't support embedded videos.
    </video>
    
  </section>
  <section class="blue">
    <h2>{{page.headerWho}}</h2>
    <div class="brands-swiper swiper" aria-label="carousel" Tabindex="0">
      <a class="carousel__skip-link" href="#skip-link">Skip the Carousel</a>
      <div class="swiper-wrapper brands-list">
        {%- for brand in page.brandImages -%}
          <div class="swiper-slide" id="slide-{{forloop.index+1}}" aria-label="slide {{forloop.index+1}} of {{page.brandImages.length + 1}}" tabindex="0">
            {% imageProcessing brand %}
          </div>
        {% endfor %}   
      </div>
      <div class="brands-swiper-pagination"></div>

      <div class="carousel__skip-message" id="skip-link" tabindex="0"></div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>{{page.headerWhat}}</h2>
      <div class="sub-header">{% documentToHtmlString page.subCopyWhat %}</div>
      <ul class="what-list">
        {%- for doIcon in page.whatWeDoIconImages -%}
          <li>
            {% imageProcessing doIcon %}
            <span class="what-item">{{ doIcon.fields.title }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="pink">
    <div class="container">
      <h2>{{page.headerWhy}}</h2>
      <div class="text-left">{% documentToHtmlString page.copyWhy %}</div>
      <a href="#contact" class="why-cta cta center blue">Learn more</a>
    </div>
  </section>
  <section>
    <h2>{{page.headerWhatSay}}</h2>
    <div class="sub-header">{% documentToHtmlString page.subCopyWhatSay %}</div>
    <div class="entries-swiper swiper">
      <ul class="swiper-wrapper">
        {%- for entry in page.theySayEntries -%}
          {% theySayEntry entry %}
        {% endfor %}
      </ul>
      <div class="entries-swiper-pagination"></div>
    </div>
  </section>
  <section class="duo">
    <h2>{{page.headerDuo}}</h2>
    <div class="sub-header">{% documentToHtmlString page.subCopyDuo %}</div>
    <div class="bios">
      <div class="bio blue">
        {% imageProcessing page.imageDuoAdriana 'bio-pic' %}
        {% documentToHtmlString page.copyDuoAdriana -%}
      </div>
      <div class="bio blue">
        {% imageProcessing page.imageDuoMandi 'bio-pic' %}
        {% documentToHtmlString page.copyDuoMandi -%}
      </div>
    </div>
    <a href="#contact" class="cta center pink">Work with us</a>
  </section>
  <section class="yellow">
    <div class="container">
      <h2 class="baddies-header">{{page.headerBiz}}</h2>
      <div class="sub-header">{% documentToHtmlString page.subCopyBiz %}</div>
      <ul class="baddie-list">
        {%- for entry in page.baddies -%}
          {% baddie entry %}
        {% endfor %}
      </ul>
    </div>
  </section>
  <section id="contact">
    <h2>{{page.headerConnect}}</h2>
    <div class="contact-form blue">
      <div>
        <h3 class="contact-form-header">{{page.subHeaderConnect}}</h3>
        <p>{{page.subSubHeaderConnect}}</p>
      </div>
      <form id="form" method="POST" data-netlify="true" netlify-honeypot="bot-field">
        <label>Name
          <input name="submitted-name" autocomplete="name">
        </label>
        <label>Email*
          <input name="submitted-email" autocomplete="email" required>
        </label>
        <label>Your Monthly Budget
          <select name="submitted-monthly-budget">
            <option value="" disabled selected>Please select your monthly budget</option>
            {%- for budget in page.copyFormBudgetOptions -%}
              <option>{{budget}}</option>
            {% endfor %}
          </select>
        </label>
        <label>What are your goals?
          <textarea name="submitted-goals"></textarea>
        </label>
        <input type="hidden" name="bot-field" />
        <button id="submit-form" class="cta pink" type="submit">{{page.subCopyConnect}}</button>
      </form>
      <div id="form-submitted" class="hidden">
        <div id="form-submitted-success" class="hidden">
          <h4 class="contact-form-header">{{page.headerFormSubmitted}}</h4>
          {% documentToHtmlString page.subCopyFormSubmitted %}
        </div>
        <div id="form-submitted-error" class="hidden">
          <h4 class="contact-form-header">{{page.headerFormSubmitted}}</h4>
          {% documentToHtmlString page.subCopyFormSubmitted %}
        </div>
        <button id="reset-form" class="cta pink">{{page.ctaFormSubmitted}}</button>
      </div>
    </div>
  </section>
</main>
<footer class="orange">
  <p>{{page.footerText}}</p>
</footer>

