---

pagination:
    data: contentful-page
    size: 1
    alias: page

layout: layout.liquid

---
<script>console.log({{page|json}});</script>
<header class="header orange">
  <a href="{{'/' | url}}">
    <img src="https:{{page.imageHeader.fields.file.url}}"
        alt="Hodgepodge Creatives Logo">
  </a>
</header>
<main>
  <section class="hero">
    <h1 class="hero-header">
      <span>Get Better</span>
      <span class="typewrite" data-period="2000"
        data-type='{{page.changingCopyHero}}'>
        <span class="wrap">&nbsp;</span>
      </span>
      <span>With Hodgepodge.</span>
    </h1>
    <a href="#contact" class="cta pink">Get Started</a>
  </section>
  <section class="blue">
    <h2>{{page.headerWho}}</h2>
    <div class="carousel" aria-label="carousel" Tabindex="0">
      <a class="carousel__skip-link" href="#skip-link">Skip the Carousel</a>
      <ul class="slides brands-list">
        {%- for brand in page.brandImages -%}
          <li class="slides-item" id="slide-{{forloop.index+1}}" aria-label="slide {{forloop.index+1}} of {{page.brandImages.length + 1}}" tabindex="0">
            {% imageProcessing brand %}
          </li>
        {% endfor %}   
      </ul>
      <div class="carousel__skip-message" id="skip-link" tabindex="0"></div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>{{page.headerWhat}}</h2>
      <div class="sub-header">{% documentToHtmlString page.subCopyWhat %}</div>
      <ul class="what-list">
        {%- for doIcon in page.whatWeDoIconImages -%}
          <li>
            {% imageProcessing doIcon %}
            <span class="what-item">{{ doIcon.fields.title }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="pink">
    <div class="container">
      <h2>{{page.headerWhy}}</h2>
      <div class="text-left">{% documentToHtmlString page.copyWhy %}</div>
      <a href="#contact" class="why-cta cta center blue">Learn more</a>
    </div>
  </section>
  <section>
    <h2>{{page.headerWhatSay}}</h2>
    <div class="sub-header">{% documentToHtmlString page.subCopyWhatSay %}</div>
    <ul class="feedback-list">
      {% for entry in page.theySayEntries -%}
        {% theySayEntry entry %}
      {% endfor -%}
    </ul>
  </section>
  <section class="duo">
    <h2>{{page.headerDuo}}</h2>
    <div class="sub-header">{% documentToHtmlString page.subCopyDuo %}</div>
    <div class="bios">
      <div class="bio blue">
        {% imageProcessing page.imageDuoAdriana 'bio-pic' %}
        {% documentToHtmlString page.copyDuoAdriana -%}
      </div>
      <div class="bio blue">
        {% imageProcessing page.imageDuoMandi 'bio-pic' %}
        {% documentToHtmlString page.copyDuoMandi -%}
      </div>
    </div>
    <a href="#contact" class="cta center pink">Work with us</a>
  </section>
  <section class="yellow">
    <div class="container">
      <h2>{{page.headerBiz}}</h2>
      <div class="sub-header">{% documentToHtmlString page.subCopyBiz %}</div>
      <ul class="baddie-list">
        {% for entry in page.baddies -%}
          {% baddie entry %}
        {% endfor -%}
      </ul>
    </div>
  </section>
  <section id="contact">
    <h2>{{page.headerConnect}}</h2>
    <div class="contact-form blue">
      <div>
        <h3 class="contact-form-header">{{page.subHeaderConnect}}</h3>
        <p>{{page.subSubHeaderConnect}}</p>
      </div>
      <form id="form" netlify>
        <label>Name
          <input name="submitted-name" autocomplete="name">
        </label>
        <label>Email*
          <input name="submitted-email" autocomplete="email" required>
        </label>
        <label>Your Monthly Budget
          <select name="submitted-budget">
            <option>Please select your monthly budget</option>
            <option>Budget #1</option>
            <option>Budget #2</option>
            <option>Budget #3</option>
            <option>Budget #4</option>
          </select>
        </label>
        <label>What are your goals?
          <textarea name="submitted-goals"></textarea>
        </label>
        <input type="hidden" name="_honeypot" value="">
        <button id="submit-form" class="cta pink">{{page.subCopyConnect}}</button>
      </form>
    </div>
  </section>
</main>
<footer class="orange">
  <p>{{page.footerText}}</p>
</footer>

