<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <link rel="stylesheet" href="https://use.typekit.net/fkb3vjj.css">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/noscript.css' | url }}" /></noscript>

  {% if google-id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{google-id}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', {{google-id}});
    </script>
  {%endif%}

  <link rel="icon" type="image/png" href="{{'images/favicon.png'| url}}" >
  
</head>
<body class="is-preload">

  {{content}}

  <script src={{"/assets/js/main.js" | url}}></script>
</body>
</html>
