<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hodgepodge Creatives</title>
  <meta name="description" content="{{page.siteDescription}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <meta property="og:title" content="Hodgepodge Creatives" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:image" content="images/share-image.png" />
  <meta property="og:site_name" content="Hodgepodge Creatives" />
  <meta property="og:description" content="{{page.siteDescription}}" />

  <link rel="stylesheet" href="https://use.typekit.net/fkb3vjj.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="/assets/css/main.css">
  <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>

  {% if google-id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{google-id}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', {{google-id}});
    </script>
  {%endif%}

  <link rel="manifest" href="assets/site.webmanifest">
  <link rel="icon" type="image/png" href="{{'images/favicon-32x32.png'| url}}" >
  
</head>
<body class="is-preload">
  <script>
  console.log({{page}})
  </script>

  {{content}}

  <script src="/assets/js/swiper.js"></script>
  <script src={{"/assets/js/main.js" | url}}></script>
</body>
</html>
